In [1]:
import pandas as pd

In [12]:
df = pd.read_csv('bitcoin.csv', decimal=',')
df

          Date  Dernier      Ouv   Plus Haut  Plus Bas      Vol  Variation %
0   03/05/2024  61780.6  59104.3     61949.5   58830.8   91,71K         4.50
1   02/05/2024  59121.3  58334.9     59548.0   56989.8   98,06K         1.35
2   01/05/2024  58331.2  60665.0     60827.5   56643.5  171,55K        -3.85
3   30/04/2024  60666.6  63852.4     64700.2   59228.7  121,04K        -5.00
4   29/04/2024  63860.1  63113.7     64193.1   61837.2   67,26K         1.19
5   28/04/2024  63109.7  63457.9     64346.1   62827.8   36,65K        -0.55
6   27/04/2024  63456.8  63765.8     63916.7   62507.7   45,34K        -0.49
7   26/04/2024  63766.4  64497.1     64771.3   63354.9   61,60K        -1.13
8   25/04/2024  64497.1  64287.1     65247.5   62889.2   80,77K         0.33
9   24/04/2024  64285.7  66414.9     67060.5   63606.9   77,83K        -3.21
10  23/04/2024  66415.0  66829.5     67180.0   65848.3   52,42K        -0.62
11  22/04/2024  66829.3  64940.1     67208.0   64527.5   72,30K         2.91
12  21/04/2024  64940.2  64942.1     65680.6   64267.5   42,02K        -0.03
13  20/04/2024  64961.1  63817.6     65375.6   63131.7   49,33K         1.82
14  19/04/2024  63799.1  63480.5     65441.2   59693.3  150,34K         0.50
15  18/04/2024  63481.4  61278.9     64092.4   60822.3   97,38K         3.59
16  17/04/2024  61278.9  63802.3     64451.5   59820.8  118,92K        -3.96
17  16/04/2024  63805.3  63416.1     64274.4   61715.6  114,96K         0.62
18  15/04/2024  63411.9  65696.6     66805.1   62379.5  118,79K        -3.48
19  14/04/2024  65697.4  63909.5     65758.2   62174.7  134,40K         2.89
20  13/04/2024  63849.9  67137.4     67921.0   61065.5  149,48K        -4.92
21  12/04/2024  67151.9  70014.9     71226.9   65829.3  131,84K        -4.08
22  11/04/2024  70011.6  70620.4     71249.2   69586.1   72,51K        -0.86
23  10/04/2024  70622.1  69147.8     71086.9   67570.0   97,71K         2.13
24  09/04/2024  69148.0  71627.3     71737.2   68264.6   93,69K        -3.47
25  08/04/2024  71630.1  69358.0     72710.8   69110.5  105,78K         3.27
26  07/04/2024  69360.4  68897.3     70285.8   68849.4   46,99K         0.68
27  06/04/2024  68890.6  67830.5     69632.0   67467.2   41,48K         1.56
28  05/04/2024  67830.6  68498.7     68692.2   66023.3   88,97K        -0.97
29  04/04/2024  68496.5  65968.4     69238.8   65096.3  100,30K         3.84
30  03/04/2024  65963.0  65443.6     66844.8   64559.0   88,46K         0.80

In [13]:
df.dtypes

Date            object
Dernier        float64
Ouv            float64
 Plus Haut     float64
Plus Bas       float64
Vol             object
Variation %    float64
dtype: object

In [16]:
list(int(cours) for cours in df.Dernier)

[61780,
 59121,
 58331,
 60666,
 63860,
 63109,
 63456,
 63766,
 64497,
 64285,
 66415,
 66829,
 64940,
 64961,
 63799,
 63481,
 61278,
 63805,
 63411,
 65697,
 63849,
 67151,
 70011,
 70622,
 69148,
 71630,
 69360,
 68890,
 67830,
 68496,
 65963]

In [17]:
df.describe(
)

            Dernier           Ouv     Plus Haut      Plus Bas  Variation %
count     31.000000     31.000000     31.000000     31.000000    31.000000
mean   65175.800000  65295.180645  66563.000000  63436.093548    -0.149677
std     3282.767076   3221.485040   3245.374511   3445.466421     2.737195
min    58331.200000  58334.900000  59548.000000  56643.500000    -5.000000
25%    63469.100000  63623.150000  64398.800000  61390.550000    -2.170000
50%    64497.100000  64940.100000  65758.200000  63131.700000     0.330000
75%    67491.250000  67483.950000  68965.500000  65838.800000     1.690000
max    71630.100000  71627.300000  72710.800000  69586.100000     4.500000